[Unit]
Description=Bull's distributed currency daemon
After=network.target

[Service]
User=bull
Group=bull

Type=forking
PIDFile=/var/lib/bulld/bulld.pid
ExecStart=/usr/bin/bulld -daemon -pid=/var/lib/bulld/bulld.pid \
-conf=/etc/bull/bull.conf -datadir=/var/lib/bulld -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
